/* Universal Code */



body {
  background: linear-gradient(90deg, #94714f, #ebd8bd, #f2cf9d, #b58037);
}



/* Navigation Bar */



.topnav {
  position: relative;
  overflow: hidden;
  display: flex;
}

.topnav a {
  float: none;
  text-align: center;
  color: black;
  font-size: 25px;
  padding: 14px 16px;
  text-decoration: none;
}

a:hover {
  font-family: "Cinzel", serif;
  color: black;
  background-color: #964B00;
  opacity: 80%;
}

.topnav a.active {
  font-family: "Cinzel", serif;
  color: black;
}

nav li {
  display: inline-block;
  justify-content: center;
  list-style: none;
  align-items: center;
  font-family: "Cinzel", serif;
  padding: 0 20px;
  margin: 0 100px;

}

/* Scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #4c4a43;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: #964B00;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #fff;
}



/* Header Settings */



h1 {
  font-size: 60px;
  font-family: "Cinzel", serif;
  text-align: center;
}

h2 {
  font-size: 26px;
  font-family: "Cinzel", serif;
  text-align: center;
  color: white;
  font-size: 40px;
}

.headline {
  font-family: "Cinzel", serif;
  text-align: center;
  position: relative;
  font-size: 20px;
}

.date {
  position: relative;
  text-align: center;
  background-color: lightgrey;
  width: 300px;
  left: 800px;
  font-family: "Cinzel", serif;
  font-size: 30px;
}



/* Index */



/* homepage garland settings */
.christmasGarland {
  position: absolute;
  height: auto;
  max-width: 30%;
  border: none;
  left: 214px;
  top: 1129px;
  box-shadow: none;
}

/* homepage coffee bean image */
.cupOfCoffee {
  position: absolute;
  height: auto;
  max-width: 30%;
  border: none;
  right: 125px;
  top: 1250px;
  box-shadow: none;
}

.banner {
  position: relative;
  width: 100%;
  margin: 0;
}

img {
  width: 80%;
  height: auto;
  margin: 1px auto;
  display: block;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/*homepage banneriImage 1 */
.newItemIndex {
  font-family: 'Dancing Script', cursive;
  font-size: 55px;
  margin-top: -320px;
  margin-left: 405px;
  -webkit-text-fill-color: #D6001C;
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: #fff;
  text-shadow: 2px 4px 10px #000;
}

.newItemIndexDetail-0 {
  font-family: "Cinzel", serif;
  font-size: 22px;
  margin-top: -50px;
  margin-left: 325px;
  -webkit-text-fill-color: #00873e;
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: #000;

}

.newItemIndexDetail-1 {
  font-family: "Cinzel", serif;
  font-size: 22px;
  margin-top: -20px;
  margin-left: 480px;
  color: #fff;
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: #000;
}

.newItemIndexDetail-2 {
  font-family: "Cinzel", serif;
  font-size: 22px;
  margin-top: -20px;
  margin-left: 350px;
  color: #fff;
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: #000;
}


/*homepage banner image 2 */

.giftCardText {
  color: #FFFFFF;
  font-family: "Cinzel", serif;
  position: relative;
  bottom: 420px;
}

.giftCardDetails-0 {
  font-size: 38px;
  text-align: right;
  margin-right: 265px;
}

.giftCardDetails-1 {
  font-size: 35px;
  text-align: right;
  margin-right: 490px;
  margin-top: -30px;
}



.indexGiftCard {
  margin-top: 300px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.indexGiftCardFront {
  position: absolute;
  height: auto;
  max-width: 25%;
  top: 1885px;
  left: 140px;
}

.indexGiftCardBack {
  position: absolute;
  height: auto;
  max-width: 25%;
  top: 2080px;
  left: 500px;
}

/*order now button*/
.indexOrderNow {
  background-color: linear-gradient(90deg, #94714f, #ebd8bd, #f2cf9d, #b58037);
  display: grid;
  height: 10vh;
  place-items: center;
  width: 100%;
}

.indexOrderNow a {
  align-items: center;
  color: #FFFFFF;
  display: inline-block;
  font-size: 16px;
  letter-spacing: 4px;
  margin-left: -740px;
  margin-top: -40px;
  overflow: hidden;
  padding: 10px 20px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: .5s;
}

a:hover {
  background: #FFFFFF;
  border-radius: 5px;
  box-shadow: 
    0 0 5px #FFFFFF,
    0 0 25px #FFFFFF,
    0 0 50px #FFFFFF,
    0 0 100px #FFFFFF;
  color: #B58037;
}

a span {
  display: block;
  position: absolute;
}

a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #B58037);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #94714F);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #94714F);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #94714F);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}






/* Menu */



/* menu images settings */
.img-two {
  position: relative;
}

.img-two img {
  height: 50%;
  width: 50%;
}

/* menu drink column */
.intro-one {
  font-family: "Cinzel", serif;
  color: #fff;
  text-align: center;
  font-size: 25px;
}

.text-wrapper-1 {
  width: 100%;
  position: relative;
  margin-top: -75%;
  text-shadow: 2px 2px #000;
}

.text-wrapper-1 h3 {
  text-align: center;
  color: #fff;
  font-size: 40px;
  font-family: "Cinzel", serif;
}

.item-disclaimer {
  text-align: center;
  color: #fff;
  font-size: 15px;
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: black;
  font-family: "Cinzel", serif;
  padding-top: -40px;
}

.columns-one {
  column-count: 3;
  padding-right: 35%;
  padding-left: 35%;
  text-align: center;
  column-rule: 1px dotted #f2d6ae;
  column-gap: 10px;
  text-shadow: none;
}

p {
  margin-top: 0;
}

/* menu holiday drink column */
.intro-two {
  font-family: "Cinzel", serif;
  color: #fff;
  text-align: center;
  font-size: 25px;
  text-shadow: 2px 2px #000;
}

.columns-two {
  column-count: 3;
  padding-right: 35%;
  padding-left: 35%;
  text-align: center;
  column-rule: 1px dotted #f2d6ae;
  column-gap: 20px;
}


/* Menu Smoothie Column */

.intro-three {
  font-family: "Cinzel", serif;
  color: #fff;
  text-align: center;
  font-size: 25px;
  text-shadow: 2px 2px #000;
}

.columns-three {
  display: block;
  column-count: 3;
  padding-inline: 80px;
  padding-right: 30%;
  padding-left: 30%;
  text-align: center;
  column-rule: 1px dotted #f2d6ae;
  column-gap: 20px;
}

/* Menu Dessert Column */

.intro-four {
  font-family: "Cinzel", serif;
  color: #fff;
  text-align: center;
  font-size: 25px;
  text-shadow: 2px 2px #000;
}

.columns-four {
  display: block;
  column-count: 3;
  padding-inline: 80px;
  padding-right: 35%;
  padding-left: 35%;
  text-align: center;
  column-rule: 1px dotted #f2d6ae;
  column-gap: 20px;
}

/* css for responsive coffee cup */
.container {
  position: relative;
  top: 220px;
}

.cup {
  position: relative;
  width: 280px;
  height: 300px;
  background: linear-gradient(to right, #f9f9f9, #d9d9d9);
  border-bottom-left-radius: 45%;
  border-bottom-right-radius: 45%;
  left: 800px;
  bottom: 10px;
}

.top {
  position: absolute;
  top: -30px;
  left: 0;
  width: 100%;
  height: 60px;
  background: linear-gradient(to right, #f9f9f9, #d9d9d9);
  border-radius: 50%;
}

.circle {
  position: absolute;
  top: 5px;
  left: 10px;
  width: calc(85% - -20px);
  height: 50px;
  background: linear-gradient(to left, #f9f9f9, #d9d9d9);
  border-radius: 50%;
  box-sizing: border-box;
  overflow: hidden;
}

.coffee {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#c57e65, #e28462);
  border-radius: 50%;
}

.handle {
  position: absolute;
  right: -70px;
  top: 40px;
  width: 160px;
  height: 180px;
  border: 25px solid #dcdcdc;
  border-left: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-radius: 50%;
  transform: rotate(42deg);
}

.plate {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translate(-50%);
  width: 500px;
  height: 200px;
  background: linear-gradient(to right, #f9f9f9, #e7e7e7);
  border-radius: 50%;
  box-shadow: 0 35px 35px rgba(0, 0, 0, 0.2);
}

.plate::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border-radius: 50%;
  background: linear-gradient(to left, #f9f9f9, #e7e7e7);
}

.plate::after {
  content: '';
  position: absolute;
  top: 30px;
  left: 30px;
  right: 30px;
  bottom: 30px;
  background: radial-gradient(rgba(0, 0, 0, 0.2) 25%, transparent, transparent);
  border-radius: 50%;
}

.vapor {
  position: relative;
  display: flex;
  z-index: 1;
  padding: 0 20px;
}

.vapor span {
  position: relative;
  bottom: 50px;
  display: block;
  margin: 0 2px 50px;
  min-width: 8px;
  height: 120px;
  background: #fff;
  border-radius: 50%;
  animation: animate 5s linear infinite;
  opacity: 0;
  filter: blur(8px);
  animation-delay: calc(var(--i) * -0.5s);
}

@keyframes animate {
  0% {
    transform: translateY(0) scaleX(1);
    opacity: 0;
  }

  15% {
    opacity: 1;
  }

  50% {
    transform: translateY(-150px) scaleX(5);
  }

  95% {
    opacity: 0;
  }

  100% {
    transform: translateY(-300px) scaleX(10);
  }
}



/* About */



/* about us video background */
.hero {
  height: 100vh;
  position: relative;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.facebookBtn {
  text-align: center;
}

.facebookBtn h1#about-title.about-us-h1 {
  font-size: 200px;
  color: #fff;
  font-weight: 600px;
  transition: 0.5s;
  font-family: 'Inspiration', cursive;
  -webkit-text-stroke: 0.2px #fff;

}

.facebookBtn h1#about-title.about-us-h1:hover {
  color: transparent;
}

.facebookBtn a {
  text-decoration: none;
  display: inline-block;
  color: white;
  font-size: 24px;
  border: 2px solid #fff;
  padding: 14px 40px;
  border-radius: 20px;
  margin-top: 20px;
  width: 500px;
}

.back-video {
  position: absolute;
  right: 100;
  bottom: 400;
  z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
  .back-video {
    width: 80%;
    height: 80%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .back-video {
    width: 80%;
    height: 80%;
  }
}

.text-wrapper-three {
  color: #fff;
  font-family: "Cinzel", serif;
  margin: 20px;
  top: 80px;
}

.text-wrapper-three h2 {
  text-align: center;
  margin-top: -460px;
  font-size: 50px;
  text-shadow: 2px 2px #000;
}

.intro-five {
  font-family: "Cinzel", serif;
  color: #fff;
  text-align: center;
  font-size: 20px;
  margin-top: 0%;
}




/* Contact Page */



.techResumeDownload {
  position: absolute;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%);
}


/* contact form css */
label {
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.contactForm {
  background: linear-gradient(90deg, #94714f, #ebd8bd, #f2cf9d, #b58037);
  border: 8px solid #D9B382;
/* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 8px 8px 8px 4px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  display: block;
  margin: 0 auto;
  max-width: 730px;
  padding: 10px 10px 10px 10px;
}

.contactTitle {
  font-family:"Cinzel", serif;
  font-size: 60px;
  margin: 0 auto;
  text-align: center;
}

.form {
  padding: 10px 10px 0 0;
}

.name {
  font-family: "Cinzel", serif;
}

input,
textarea {
  border: 5px solid #FFFFFF;
  border-radius: 3px;
  box-sizing: border-box;
  font-family: 'Source Code Pro', monospace;
  padding: 0 5px;
  resize: none;
  width: 100%;
}


input[type=text],
select,
textarea {
  border: 1px solid #EEEEEE;
  border-radius: 16px;
  box-sizing: border-box;
  margin-bottom: 16px;
  margin-top: 16px;
  padding: 8px;
  resize: vertical;
  width: 100%;
}

input[type=submit] {
  background-color: #4c4a43;
  border: none;
  border-radius: 7px;
  color: #FFFFFF;
  cursor: pointer;
  padding: 12px 20px;
}

input[type=submit]:hover {
  background-color: #964B00 ;
}





